#sobre,
#educacao,
#servicos,
#portfolio,
#contato {
  padding: 8rem 0;
}

/* Estilização Cabeçalho */
.navbar {
  background-color: #e35a01;
  padding: 0.5rem;
}
.navbar a {
  color: white;
  padding: 0.5 rem;
}
.navbar a:hover {
  background-color: #ddd;
  color: #e35a01;
  border-radius: 1px;
}

/* Hero Section */
.bgimage {
  height: 100vh; /*100% viewport height*/
  position: relative;
  background: url("images/heroImage1.jpg");
  background-size: cover; /*em vez de ampliar imagem, se adaptar para cobrir todo espaço*/
}

.heroTitle {
  font-size: 4.5rem;
}

.heroDesc {
  font-size: 2rem;
}

.heroText {
  text-align: center;
  position: absolute; /*posição fixa*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Estilização Sobre Mim */
.aboutImage {
  width: 100%;
}
.aboutText {
  text-align: justify;
}

/* Estilização Formação */
.eduText {
  text-align: center;
}
.eduText.card {
  height: 120px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1px;
}
.eduText:hover {
  border: #e35a01 1px solid;
}
/* Estilização Contato */
.contactText.card {
  height: 120px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1px;
}

.contactIconS {
  font-size: 1rem;
  color: #689ab8;
  padding: 0 0.5rem;
}
.contactIconL {
  font-size: 1.5rem;
  color: #689ab8;
  padding: 1rem 0.5rem;
}
.contactIconL:hover,
.contactIconS:hover {
  color: #e35a01;
}
.contactTitle {
  font-size: 1.2rem;
}

/* Serviços ou Habilidades*/
.servicesText.card {
  height: 185px;
  cursor: pointer;
  padding: 0 2rem;
  border-radius: 1px;
}
.servicesIcon {
  height: 10px;
  text-align: center;
  width: 100%;
}
.cardTitle {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #e35a01;
}
.servicesText:hover {
  border: #e35a01 1px solid;
}

/* Portfolio */
.card-img-top {
  height: 300px;
}
.portfText.card {
  border-radius: 4px;
}
.cardBody {
  height: 200px;
  margin-bottom: 1rem;
}
.portLink {
  color: #0048a4;
}
.portLink:hover {
  color: #e35a01;
}
/* Footer */
footer {
  background-color: #e35a01;
}
.footerIcon {
  font-size: 2rem;
  color: white;
}
.footerIcon:hover {
  color: #c4c4c4;
}
.footerDev {
  background-color: #e08955;
}

/* Efeito GlassMorphismo */
/* From https://css.glass */
.glass {
  position: absolute;
  height: 40%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* From https://css.glass */
  background: rgba(104, 154, 184, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}
